{% extends 'SProvider/design.html' %}
{% block content %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Sentiment', 'Ratio'],
            {% for entry in form %}
    ['{{ entry.names }}', {{ entry.dcount }}],
        {% endfor %}
        ]);

    var options = {
        title: 'Sentiment Detection Ratio ({{ chart_type }})',
        hAxis: { title: 'Sentiment' },
        vAxis: { title: 'Ratio' },
        legend: { position: 'none' }
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    chart.draw(data, options);
    }
</script>

<div class="container">
    <h2 class="text-center">Analysis Chart</h2>
    <div id="chart_div" style="width: 100%; height: 500px;"></div>
</div>

{% endblock %}